header{
  text-align: center;
}
.Lefty{
  float: left;
}
body{
  font-size: 200%;
}
.Logo{
  size: 5%;
}
footer{
  text-align: center;
  /*text:;*/
}
ul {
  list-style-type: none;
  margin-top: 10%;
  margin: 0;
  margin-right: 0%;
  padding: 0;
  padding-right: 0%;
  width: 250px;
  background-color: #000000;
  }
  
li a {
  display: block;
  color: #ffffff;
  padding: 8px 16px;
  text-decoration: none;
  }
  
li a.active {
  background-color: #04AA6D;
  color: white;
  }
  
li a:hover:not(.active) {
  background-color: #555;
  color: white;
  }
.image{
  margin-bottom: 10%;
}
p{
  margin-bottom: 25%;
}